doctype
html
   include template/head
   body
      block desc
         h2 以上模板继承过来的block desc
         p desc from layout
      block house
         h2 以下是layout承过来的block house
         p house from layout
      block content


